@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #5b5a8b;
  --color-primary-container: #bbb9f1;
  --color-on-primary-container: #363564;
  --color-on-primary: #fbf7ff;
  --color-background: #fcf8fe;
  --color-on-background: #32313b;
  --color-surface: #fcf8fe;
  --color-on-surface: #32313b;
  --color-on-surface-variant: #5f5e68;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f2fa;
  --color-surface-container: #f0ecf6;
  --color-surface-container-high: #eae6f1;
  --color-surface-container-highest: #e4e1ed;
  --color-outline-variant: #b3b0bc;
  --color-error: #a8364b;
  --color-error-dim: #6b0221;
  --color-secondary-container: #e3e0f9;
  --color-on-secondary-container: #515064;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background);
  -webkit-font-smoothing: antialiased;
}

.glassmorphism {
  background-color: rgba(227, 224, 249, 0.8);
  /* secondary-container with opacity */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.ghost-border {
  border: 1px solid rgba(179, 176, 188, 0.2);
  /* outline-variant at 20% */
}